[SddmGreeterTheme]
Name=Sparky2
Description=Sparky2 for SDDM (based on Sugar Candy)
Author=Marian Arlt, Paweł Pijanowski
Copyright=Copyright (C) 2018 Marian Arlt
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.6
Website=https://framagit.org/MarianArlt/sddm-sugar-candy
Screenshot=Previews/PartialBlur.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=marianarlt@icloud.com
Theme-Id=sparky2
Theme-API=2.11
