[SddmGreeterTheme]
Name=Sparky
Description=Sparky Theme (based on Breeze)
Author=David Edmundson, pavroo
Copyright=(c) 2014, David Edmundson, pavroo
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=sparky.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=davidedmundson@kde.org
Theme-Id=breeze
Theme-API=2.0
