[SddmGreeterTheme]
Name=Sparky based on Breeze
Name[ar]=Sparky based on نسيم
Name[az]=Sparky based on Breeze
Name[be]=Sparky based on Breeze
Name[bg]=Sparky based on Breeze
Name[ca]=Sparky based on Brisa
Name[ca@valencia]=Sparky based on Brisa
Name[cs]=Sparky based on Breeze
Name[da]=Sparky based on Breeze
Name[de]=Sparky based on Breeze
Name[el]=Sparky based on Breeze
Name[en_GB]=Sparky based on Breeze
Name[eo]=Sparky based on Brizo
Name[es]=Sparky based on Brisa
Name[eu]=Sparky based on Breeze
Name[fi]=Sparky based on Breeze
Name[fr]=Sparky based on Breeze
Name[gl]=Sparky based on Brisa
Name[he]=Sparky based on בריזה
Name[hu]=Sparky based on Breeze
Name[ia]=Sparky based on Breeze (Brisa)
Name[id]=Sparky based on Breeze
Name[is]=Sparky based on Breeze
Name[it]=Sparky based on Brezza
Name[ka]=Sparky based on Breeze
Name[ko]=Sparky based on Breeze
Name[lt]=Sparky based on Breeze
Name[lv]=Sparky based on Breeze
Name[nl]=Sparky based on Breeze
Name[nn]=Sparky based on Breeze
Name[pa]=Sparky based on ਬਰੀਜ਼
Name[pl]=Sparky based on Bryza
Name[pt_BR]=Sparky based on Breeze
Name[ro]=Sparky based on Breeze
Name[ru]=Sparky based on Breeze
Name[sa]=Sparky based on वायुः
Name[sk]=Sparky based on Vánok
Name[sl]=Sparky based on Sapica
Name[sv]=Sparky based on Breeze
Name[ta]=Sparky based on பிரீஸ்
Name[tr]=Sparky based on Esinti
Name[uk]=Sparky based on Breeze
Name[x-test]=Sparky based on xxBreezexx
Name[zh_CN]=Sparky based on Breeze 微风
Name[zh_TW]=Sparky based on Breeze
Description=Breeze
Description[ar]=Sparky based on نسيم
Description[az]=Sparky based on Breeze
Description[be]=Sparky based on Breeze
Description[bg]=Sparky based on Breeze
Description[ca]=Sparky based on Brisa
Description[ca@valencia]=Sparky based on Brisa
Description[cs]=Sparky based on Breeze
Description[da]=Sparky based on Breeze
Description[de]=Sparky based on Breeze
Description[el]=Sparky based on Breeze
Description[en_GB]=Sparky based on Breeze
Description[eo]=Sparky based on Brizo
Description[es]=Sparky based on Brisa
Description[eu]=Sparky based on Brisa
Description[fi]=Sparky based on Breeze
Description[fr]=Sparky based on Breeze
Description[gl]=Sparky based on Brisa.
Description[he]=Sparky based on בריזה
Description[hu]=Sparky based on Breeze
Description[ia]=Sparky based on Breeze (Brisa)
Description[id]=Sparky based on Breeze
Description[is]=Sparky based on Breeze
Description[it]=Sparky based on Brezza
Description[ka]=Sparky based on Breeze
Description[ko]=Sparky based on Breeze
Description[lt]=Sparky based on Breeze
Description[lv]=Sparky based on Breeze
Description[nl]=Sparky based on Breeze
Description[nn]=Sparky based on Breeze
Description[pa]=Sparky based on ਬਰੀਜ਼
Description[pl]=Sparky based on Bryza
Description[pt_BR]=Sparky based on Breeze
Description[ro]=Sparky based on Briză
Description[ru]=Sparky based on Breeze
Description[sa]=Sparky based on वायुः
Description[sk]=Sparky based on Vánok
Description[sl]=Sparky based on Sapica
Description[sv]=Sparky based on Breeze
Description[ta]=Sparky based on பிரீஸ்
Description[tr]=Sparky based on Esinti
Description[uk]=Sparky based on Breeze
Description[x-test]=Sparky based on xxBreezexx
Description[zh_CN]=Sparky based on Breeze 微风
Description[zh_TW]=Sparky based on Breeze
Author=KDE Visual Design Group
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=plasma-devel@kde.org
Theme-Id=sparky2
Theme-API=2.0
QtVersion=6
